body {
    margin: 0;
    height: 480px;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow: visible;
    -webkit-text-size-adjust: none;
}

body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: #6d84a2 repeat-x;
    border-bottom: 1px solid #2d3642;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin: 6px 0 0 0;
    padding: 6px 6px 6px 6px;
    font-size: 16px;
    font-weight: normal;
}

table {
	border: 1px solid grey;
    width: 100%;
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 6px;
}

button {
	font-size: 16px;
}

#menue {
	background-color: #000000;
	height: 50px;
}

#menue #item {
	height: auto;
	width: auto;
	margin-top: 4px;
	margin-left: 5px;
	float: left;
}

#meinBild {
    display: none;
}

canvas {
    width: 100%;
    height: auto;
}
